
*.layout

*.o
PL1/obj/Debug/src/Mesa.o
*.o
PL1/obj/Debug/src/Mesa.o
PL1/obj/Debug/src/NodoPila.o
PL1/obj/Debug/src/Pila.o
PL1/PL1.depend
PL1/PL1.depend
PL1/PL1.layout
PL1/PL1.layout
PL1/bin/Debug/PL1.exe
PL1/obj/Debug/main.o
PL1/obj/Debug/src/Gestor.o
PL1/obj/Debug/src/Lista.o
PL1/PL1.depend
